:root {
  --offset-white: #f1f1f1;
}

html {
  background-color: #0A4797;
}

body {
  color: var(--offset-white);
  font-size: 14pt;
  font-family: sans-serif;
  min-height: 100svh;
  padding: 0;
  margin: 0;
  display: flex;
}

h1 {
  color: var(--offset-white);
}

article {
  padding: 2em;
  text-align: center;
  margin: auto;
}

a {
  color: var(--offset-white);
  transition: all 0.5s ease-in-out;
}

a:active, a:hover {
  color: white;
  transition: all 0.15s ease-in-out;
}

a > img, a > svg {
  width: 10svw;
  min-width: 3em;
}
